@font-face {
    font-family: yeezy;
    src: url(../yeezy_tstar-bold-webfont.ttf);
}

body {
    margin: 0;
    font-family: yeezy;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 'header header header''main main main' 'footer footer footer';
}

#jsButton {
    width: 150px;
    height: 50px;
    margin: 30px;
}

.basic-grid {
    display: grid;
}

.box {
    background-color: teal;
}

.rect {
    background-color: tomato;
}

div {
    width: auto;
    height: 400px;
}

.basic-grid {
    grid-area: main;
}

.printed {
    grid-area: aside;
    background-color: grey;
}