@font-face {
    font-family: yeezy;
    src: url(../yeezy_tstar-bold-webfont.ttf);
}

body {
    margin: 0;
    font-family: yeezy;
}

.basic-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 3fr));
}

.box {
    background-color: teal;
}

.rect {
    background-color: tomato;
}

div {
    width: auto;
    height: 400px;
}