* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: auto;
}

header,
footer {
    height: 150px;
    border: 5px solid gold;
    clear: both;
}

.box-set {
    background: #eaeaed;
}

.box {
    background: #2db34a;
    height: 80px;
    width: 80px;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

@media all and (max-width: 900px) {
    .box {
        background: red;
    }
}