* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* html {
    font-size: 62.5%;
} */


/* Elements */

div {
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

header {
    border: 1px solid #ff2020;
    width: 900px;
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
}

nav ul li {
    list-style: none;
}

li a {
    text-decoration: none;
    margin-right: 5px;
}

.hype,
.awesome {
    border: 2px solid blue;
}

.hype {
    display: flex;
    align-items: flex-end;
}