* {
    box-sizing: border-box;
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

.capitalize {
    text-transform: capitalize;
}

li {
    text-decoration: none;
    list-style: none;
}