body {
    text-align: center;
    background-color: mintcream;
}
.highlight {
    color: blue;
}
.base {
    color: red;
}
li {
    list-style: none;
}
#content {
    margin-bottom: 50px;
}
.green {

    background-color: green;
}